body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana; font-size: 15px;}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    /*
    align: center
    "align" is not recognised, so I use "margin: auto;" instead.
    */
    margin: auto;
}

